{{! Maintainers - Kevin Corry, Daryl Hedley}}
<div class="tutor" role="region" aria-label="{{_globals._accessibility._ariaLabels.feedbackPopUp}}">
    <div class="tutor-toolbar">
        <a href="#" class="tutor-done" role="button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
            <span class="tutor-icon-close icon icon-cross"></span>
        </a>
    </div>
    <div class="tutor-content">
        <div class="tutor-inner">
            {{#if feedbackTitle}}
                <div class="tutor-title">
                    <div class="tutor-title-inner accessible-text-block h5" role="heading" aria-level="1" tabindex="0">
                        {{{feedbackTitle}}}
                    </div>
                </div>
            {{/if}}
            <div class="tutor-body">
                <div class="tutor-body-inner">{{{a11y_text feedbackMessage}}}</div>
            </div>
        </div>
    </div>
</div>

<div class="tutor-shadow"></div>
