{{! Maintainers - Kevin Corry}}
<div class="tutor">
  <div class="tutor-pin"></div>

  <a href="#" class="tutor-done">
    <div class="tutor-icon-close icon icon-cross"></div>
  </a>

  <div class="tutor-inner">
    <div class="tutor-title">
      <h6 class="tutor-title-inner">
        {{{title}}}
      </h6>
    </div>
    <div class="tutor-body">
      <div class="tutor-body-inner">{{{message}}} {{#if score}}{{score}}{{/if}}</div>
    </div>
  </div>
</div>

<div class="tutor-shadow"></div>
