{{! Maintainers - Kevin Corry}}
<div class="tutor">
  <a href="#" class="tutor-icon icon icon-feedback"></a>
  <div class="tutor-pin"></div>

  <a href="#" class="tutor-done">
    <div class="tutor-icon-close icon icon-cross"></div>
  </a>

  <div class="tutor-inner">
    {{#if title}}
    <div class="tutor-title">
      <h6 class="tutor-title-inner">
        {{{title}}}
      </h6>
    </div>
    {{/if}}
    <div class="tutor-body">
      <div class="tutor-body-inner">{{{message}}} {{#if score}}<span class="score">{{score}}</span>{{/if}}</div>
    </div>
  </div>
</div>

<div class="tutor-shadow"></div>
